**

!pyproject.toml
!README.md
!LICENSE
!Makefile

!src/
src/**
!src/*.*h
!src/*.c*

!mod/
mod/**
!mod/cusmic/
mod/cusmic/**
!mod/cusmic/*.py

!test/
test/**
!test/README.md
!test/*.py
!test/*.c*
!test/*.sh
!test/data/
test/data/**
!test/data/*.fits.gz

!demo/
demo/**
!demo/*.ipynb

!bench/
bench/**
!bench/README.md
!bench/*.py
!bench/*.c*

!tool/
tool/**
!tool/*.sh
