**
!pyproject.toml
!README.md
!LICENSE
!mod/
mod/**
!mod/cusmic/
mod/cusmic/**
!mod/cusmic/*.py
!test/
test/**
!test/*.py
!test/README.md
!test/data/
test/data/**
!test/data/*.fits.gz
!demo/
demo/**
!demo/*.ipynb
!bench/
bench/**
!bench/*.py
!bench/README.md
