*
!*/

!*.py
!*.ipynb

!.*ignore
!*file

!README.md
!bench/README.md
!test/README.md
!test/data/*.fits.gz

__pycache__/
*.egg-info/
.ipynb_checkpoints/
.ruff_cache/
.pytest_cache/
bench/results/

!*.h*
!*.c*
!*.sh
!.clang-format
build/
dist/

/bin/
